/* Colours: */

$color-grey-05: #F4F4F4;
$color-grey-15: #DBDBDB;
$color-grey-30: #ACACAC;
$color-grey-50: #808080;
$color-grey-80: #2C2C2C;
$color-grey-90: #222222;
$color-white: #FFFFFF;
$color-blue: #4A90E2;
$color-red: #7F1734;

/* Mixins */

@mixin all-text {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
@mixin sans-serif {
	@include all-text;
	font-family: Helvetica, Arial, sans-serif; //Currently only in use for Table contents in Financien
}
@mixin serif {
	@include all-text;
	font-family: "baskerville-urw","Baskerville",Georgia,"Book Antiqua", serif;
}
@mixin mobile-text {
	@media screen and (max-width: 480px) {
		font-size: 1.2em; //16px
	}
}

/* Typography: */

.jumbotron {

  h1 {
    @include serif;
  	font-size: 2.5em; //52px
  	font-weight: 500;
    margin: 0px;
    padding: 0px;
  	@media screen and (max-width: 480px) {
  		font-size: 2em; //32px
  	}
  }

  h2 {
  	@include serif;
  	@include mobile-text;
  	font-size: 1.2em; //20px
  	font-weight: 400;
  }

  .stichting {
  	font-style: italic;
    margin: 0px;
    padding: 0px;
    opacity: 0.8;
  }

  .lead {
    margin-bottom: 40px;
  	@media screen and (max-width: 480px) {
  		margin-bottom: 24px;
  	}
  }
  .navigation {
    .button {
    	@include serif;
    	@include mobile-text;
      color: $color-white;
    	font-size: 1.225em; //18px
    	font-weight: 400;
    	font-style: italic;
    	background: none;
    	border: 1px solid none;
    	border-radius: 0px;
    	padding: 2px 0px 0px 0px;
    	opacity:0.7;
  		a {
  			text-decoration: none;
  		}
  		&:hover {
    		color: $color-white;
    		border-bottom: solid 1px white;
    		opacity:1;
    		transition: 0.3s ease;
  		}
  		&:visited { // I'm trying to disabled the active state on iPad after clicking on links, work in progress...
  			text-decoration: none;
  			decoration: none;
  			opacity:0.7 !important;
  		}
  		&:active {
  			box-shadow: none; // Removes standard Bootstrap inner shadow on click
  		}
    }
    .button-active {
      @extend .button;
    	border-bottom: solid 1px white;
    	opacity:1;
    }
    a > .button, .button-active {
    	margin-right: 16px;
      @media screen and (max-width: 480px) {
        margin-right: 8px;
      }
    }
  }
}
.scroll { // Add horizontal scrolling to navigation on mobile
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (max-width: 576px) {
  ::-webkit-scrollbar {
      width: 0px;  // Removes scrollbar space
      background: transparent;  // Makes scrollbar invisible
  }
}

.pager li > a {
	@include serif;
	@include mobile-text;
  color: $color-grey-90;
	font-size: 1.225em; //18px
	font-weight: 400;
	font-style: italic;

	border: none;
	border-radius: 0px;
	border-bottom: solid 1px $color-white;
	padding: 2px 0px 0px 0px;
	&:hover {
		background: none;
		border-bottom: solid 1px $color-grey-80;
	}
}

.arrow {
	color: $color-grey-80;
	border: none;
	border-radius: 0px;
	border-bottom: solid 1px $color-white;
	&:hover {
		background: none;
		border-bottom: solid 1px $color-grey-80;
	}
}

h2 {
	@include serif;
	font-size: 2em; //20px
	font-weight: 600;
	@media screen and (max-width: 480px) {
		font-size: 1.6em; //16px
	}
}

.header--labeled {
	margin-bottom: 0;
}

p {
	@include serif;
	@include mobile-text;
  color: $color-grey-80;
	font-size: 1.225em; //18px
	font-weight: 400;
	padding-top: 10px;
}

.paragraph__header {
	font-style: italic;
}

.paragraph--disabled {
	color: $color-grey-50;
}

.custom-list-style {
	@include serif;
	@include mobile-text;
  color: $color-grey-80;
	font-size: 1.225em; //18px
	font-weight: 400;
	border:none;
}

// Images

.image-article {
	padding: 1.225em 0 1.225em 0;
	.image-article-caption {
		@extend p;
		color: $color-grey-80;
		font-size: 1.15em;
		font-style: italic;
	}
}
.portrait {
	max-width: 400px;
}
.landscape {
	width: 100%;
}


// Table
.table-container {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	border-radius: 4px;
	padding: 10px;
}
.table-responsive {
	@include sans-serif;
	border: none;
	tbody th {
    color: $color-grey-80;
		font-size: 0.9em; //14px
		font-weight: 400;
	}
}

// Themes
.background-white {
	background: $color-white;
  color: $color-grey-90;
}
.background-red {
	background: $color-red;
  color: $color-white;
}

// Layout
html { // Added to enable fixed footer
  position: relative;
  min-height: 100%;
}
body { // Added to enable fixed footer
  margin-bottom: 100px; // Margin bottom by footer height
}
.container {
  @media screen and (min-width: 0px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media screen and (min-width: 768px) {
		padding-left: 32px;
		padding-right: 32x;
  }
  @media screen and (min-width: 992px) {
		padding-left: 128px;
		padding-right: 128px;
  }
  @media screen and (min-width: 1200px) {
		padding-left: 240px;
		padding-right: 240px;
  }
}

/* Footer */

.footer { // Added to enable fixed footer
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 8px;
  .border {
  	border-top: 1px solid $color-grey-15;
  }
  p {
 		@include sans-serif;
 		@include mobile-text;
    color: $color-grey-30;
 		font-size: 0.9em; //14px
 		font-weight: 400;
 		padding: 16px 0 16px 0;
 }
}
