/* Colours: */

$color-grey-05: #F4F4F4;
$color-grey-15: #DBDBDB;
$color-grey-30: #ACACAC;
$color-grey-50: #808080;
$color-grey-80: #2C2C2C;
$color-grey-90: #222222;
$color-white: #FFFFFF;
$color-blue: #4A90E2;
$color-red: #7F1734;

/* Mixins */

@mixin all-text {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
@mixin sans-serif { 
	@include all-text;
	font-family: Helvetica, Arial, sans-serif; //Currently only in use for Table contents in Financien
} 
@mixin serif {
	@include all-text;
	font-family: "baskerville-urw","Baskerville",Georgia,"Book Antiqua", serif;
}
@mixin signature {
	@include all-text;
	font-family: "caliban-std",sans-serif;
	@media screen and (max-width: 480px) {
		font-size: 2.2em; //32px
	}
}
@mixin mobile-text {
	@media screen and (max-width: 480px) {
		font-size: 1.1em; //16px
	}
}

/* Typography: */

.jumbotron .lead-text { //For some reason if I just format .lead-text it still gets somewhere else default Bootstrap styles, so need to add .jumbotron as well
	@include serif;
	font-size: 3.5em; //52px
	font-weight: 600;
	color: $color-white;
	margin: 0px 0px 12px 0px;
	@media screen and (max-width: 480px) {
		font-size: 2em; //32px
		margin: 0px 0px 0px 0px;
	}
}

.label-text { //"Stichting"
	@include serif;
	@include mobile-text;
	font-size: 1.8em; //26px
	font-style: italic;
	font-weight: 400;
	color: $color-white;
	margin-top: 20px;
}

h2 {
	@include serif;
	@include mobile-text;
	font-size: 1.4em; //20px
	font-weight: 400;
	color: $color-white;
	margin-top: 6px;
	margin-bottom: 40px;
	@media screen and (max-width: 480px) {
		margin-bottom: 20px;
	}
}

.signature-text {
	font-size: 40px;
	@include signature;
}

.btn-inactive {
	@include serif;
	@include mobile-text;
	font-size: 1.225em; //18px
	font-weight: 400;
	font-style: italic; 
	color: $color-white;
	background: none;
	border: 1px solid none;
	border-radius:0px;
	margin-right: 12px;
	padding: 2px 0px 0px 0px;
	opacity:0.7;
		a {
			text-decoration: none;	
		}
		&:hover {
		color: $color-white;
		border-bottom: solid 1px white;
		opacity:1;
		transition: 0.3s ease;
		}
		&:visited { // I'm trying to disabled the active state on iPad after clicking on links, work in progress...
			text-decoration: none; 
			decoration: none;
			opacity:0.7 !important;
		}
		&:active {
			box-shadow: none; // Removes standard Bootstrap inner shadow on click
		}	
}

.btn-active {
	@include serif;
	@include mobile-text;
	font-size: 1.225em; //18px
	font-weight: 400;
	font-style: italic; 
	color: $color-white;
	background: none;
	border: 1px solid none;
	border-bottom: solid 1px white;
	border-radius:0px;
	margin-right: 12px;
	padding: 2px 0px 0px 0px;
	opacity:1;
		a {
			text-decoration: none;	
		}
		&:hover {
		color: $color-white;
		border-bottom: solid 1px white;
		opacity:1;
		}
		&:visited { // I'm trying to disabled the active state on iPad after clicking on links, work in progress...
			text-decoration: none; 
			decoration: none;
			opacity:1 !important;
		}
		&:active {
			box-shadow: none; // Removes standard Bootstrap inner shadow on click
		}	
}

.container p {
	@include serif;
	@include mobile-text;
	font-size: 1.225em; //18px
	font-weight: 400;
	color: $color-grey-80;
	padding-top: 10px;
}

.custom-list-style {
	@include serif;
	@include mobile-text;
	font-size: 1.225em; //18px
	font-weight: 400;
	color: $color-grey-80;
	border:none;
}

.date-place {
	@include serif;
	@include mobile-text;
	font-size: 1.225em; //18px
	font-weight: 400;
	color: $color-grey-80;
	border:none;
	margin-top:-10px;
}

.table-container {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	border-radius: 4px;
	padding: 10px;
}

.table-responsive {
	@include sans-serif;
	border: none;
	tbody th {
		font-size: 0.9em; //14px
		font-weight: 400;
		color: $color-grey-80;
	}
}

.border-top {
	border-top: 1px solid $color-grey-15;
}

// Themes
.background-white {
	background: $color-white;
}

.background-red {
	background: $color-red;
}

// Layout

html { // Added to enable fixed footer
  position: relative;
  min-height: 100%;
}

body { // Added to enable fixed footer
  margin-bottom: 100px;   // Margin bottom by footer height
}

.col-sm-8 { // this gives more space on mobile
	@media screen and (max-width: 768px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

/* Footer */

.footer { // Added to enable fixed footer
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
  margin-top: 10px;
  p {
 		@include sans-serif;
 		@include mobile-text;
 		font-size: 0.9em; //14px
 		font-weight: 400;
 		// font-style: italic;
 		color: $color-grey-30;
 		opacity: 0.9;
 		padding: 20px 0px 20px 0px;		
 }
}