// Colours
$color-grey-05: #F9F9F9;
$color-grey-15: #DBDBDB;
$color-grey-30: #ACACAC;
$color-grey-50: #808080;
$color-grey-90: #191716;
$color-white: #FFFFFF;
$color-blue-30: #2191FB;
$color-blue-90: #016CC1;
$color-navy-90: #022F40;
$color-brown: #7F1734;
$color-magenta: #EC058E;
$color-yellow-01:#FFF3B8;
$color-yellow-05: #FA9F42;

// Mixins
@mixin allText {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $color-grey-90;
}
@mixin sans-serif {
  font-family: "freight-sans-pro", sans-serif;
}
@mixin serif {
	@include allText;
	font-family: "baskerville-urw","Baskerville",Georgia,"Book Antiqua", serif;
}
@mixin reverseText {
  color: $color-white;
}
@mixin sectionPadding {
  padding-left: 2rem;
  padding-right: 2rem;
}

// Bootstrap overrides
html, body {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}
input[type="text"], textarea {
  // Removes "outline glow" when input is pressed
  outline: none;
  box-shadow: none !important;
}
.navbar {
  // padding: 1.5rem 0 1.5rem 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @media (min-width: 992px) {
    padding-left: 0;
    // padding-bottom: 0.5rem;
  }
}
.navbar-nav > .active {
  border-bottom: 0.0625rem solid $color-white;
  opacity: 1;
}
.navbar-light .navbar-nav .nav-link {

  @media (max-width: 992px) {
    color: $color-brown;
    opacity: 1;
    }
}
.navbar-expand-lg .navbar-nav .nav-link {

    @media (min-width: 992px) {
    padding-right: 0;
    padding-left: 0;
  }
}
.nav-link {
  cursor: pointer;
}
.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
  box-shadow:none !important;
}
.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .list-group, .list-group-item {
    background: none;
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}
.footer a {
  color: $color-white;

  &:hover {
    color: $color-white;
    opacity: 0.5;
    text-decoration: none;
  }

  @media (max-width: 992px) {
    color: $color-grey-90;

    &:hover {
      color: $color-grey-90;
      opacity: 0.5;
      text-decoration: none;
    }
  }
}
.list-group-item-action {
  color: $color-grey-90;

  &:hover {
    color: $color-brown;
  }
}
.input-group, .input-group-lg {
  background: none;
  border: none;
}
.input-group-text {
  background: none;
  border: none;

  @include allText;
  @include serif;
}
.form-control {
  background: none;
  border: none;
}
.jumbotron {
  background: none;
  padding-top: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 1.5rem;
}
.btn {
  border: none;
}
button:focus {
  outline: 0;
}
a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
kbd {
  background-color: $color-white;
  border: 0.0625rem solid $color-grey-15;

  @include allText;
  @include serif;
}
tbody > tr > td:nth-child(odd) {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
tbody > tr > td:nth-child(even) {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
   background-color: $color-grey-05;
 }
 .blockquote {
  border-left: 0.25rem solid $color-brown;
  // border-radius: 0.125rem;
  padding-left: 1rem;
  // font-size: 1.25rem;
 }
 dl {
  border: 0.25rem solid $color-grey-05;
  padding-top: 1rem;
 }

// Navigation
.navLink {
  padding: 0 0 0.125rem 0;
}
.navLink__reversed {
  color: $color-white;

  &:hover {
    color: $color-white;
    opacity: 1;
    text-decoration: none;
  }

  &:active {
    color: $color-white;
    opacity: 1;
  }

  &:visited {
    color: $color-white;
    opacity: 1;
  }
}

//Branding
.iconApp {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}
.iconApp__desktopNav {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

// Content
.image__inline {
  max-width: 24rem;
}

// Sections
.sectionContent {
  @include sectionPadding;
}
.sectionCard {
  padding-top: 3rem;

  @media (max-width: 992px) {
    padding-top: 2rem;
  }
}
.hr__reversed {
  border-top: 1px solid rgba(255,255,255,0.1)
}

// Typography
.header {
  color: $color-grey-90;
  @include allText;
  @include serif;
}
.header__h1 {
  font-weight: 700;
}
.header__h2 {
  font-weight: 800;
}
.header__h3 {
  font-weight: 700;
}
.header__h4 {
  font-weight: 500;
}
.header__reversed {
  @include reverseText;
}
.headerEmoji{
  font-size: 2.5rem;
}
.bodyCopy {
  color: $color-grey-90;
  font-weight: 400;
  @include allText;
  @include serif;
}
.bodyCopy__lean {
  font-weight: 200;
}
.bodyCopy__italic {
  font-style: italic;
}
.bodyCopy__bold {
  font-weight: 500;
}
.bodyCopy__caps{
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
.bodyCopy__link {
  color: $color-blue-30;
  font-style: italic;
}
.bodyCopy__reversed {
  @include reverseText;
}
.bodyCopy--dimmed {
  opacity: 0.5;
}
.bodyCopy--disabled {
  color: $color-grey-50;
}
.bodyCopy--highlight {
  color: $color-blue-30;
}
.bodyCopy--list{
  list-style-type: circle;
}
.bodyCopy--action{
    color: $color-grey-90;
    font-style: italic;
  &:hover {
    color: $color-brown;
    text-decoration: none;
  }
}
.listItem {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  @include allText;
  @include serif;
}
.listItem__navbar {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  margin-right: 1rem;
  text-decoration: none;
  opacity: 0.64;
  @include allText;
  @include serif;

  &:hover {
    border-bottom: 0.0625rem solid $color-white;
    transition: ease;
    opacity: 1;
  }
}
.listItem__link {
  color: $color-grey-90;
  opacity: 1;

  &:hover {
    color: $color-grey-90;
    opacity: 0.8;
    text-decoration: none;
  }

  &:active {
    color: $color-grey-90;
    opacity: 0.64;
  }

  &:visited {
    color: $color-grey-90;
    opacity: 1;
  }
}
.listItem__linkReversed {
  color: $color-white;
  opacity: 1;

  &:hover {
    color: $color-white;
    opacity: 0.8;
    text-decoration: none;
  }

  &:active {
    color: $color-white;
    opacity: 0.64;
  }

  &:visited {
    color: $color-white;
    opacity: 1;
  }
}
.listItem__footer:nth-child(1) {
  text-transform: uppercase;
  @extend .bodyCopy__bold;
}
.btnText {
  @include allText;
  @include serif;
}
.btnText__primary {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  padding-left: 1rem;
  padding-right: 1rem;
  @include reverseText;
}
.btnText__primaryReversed {
  color: $color-grey-90;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.btnType__primary {
    background: $color-brown;

    &:hover {
      background: $color-brown;
      opacity: 0.8;
    }

    &:active {
      background: $color-brown;
      opacity: 0.64;
    }

    &:visited {
      background: $color-brown;
      opacity: 1;
    }
}
.btnType__primaryReversed {
    background: $color-white;

    &:hover {
      background: darken($color-white, 16%);
    }

    &:active {
      background: darken($color-white, 24%);
    }

    &:visited {
      background: $color-white;
    }
}
.btnType__secondary {
    background: $color-magenta;

    &:hover {
      background: darken($color-magenta, 8%);
    }

    &:active {
      background: darken($color-magenta, 12%);
    }

    &:visited {
      background: $color-magenta;
    }
}
.btnType__discreet {
  background: $color-white;
  border: 0.0625rem solid $color-grey-15;

  &:hover {
    background: $color-white;
    border: 0.0625rem solid $color-grey-15;
    opacity: 0.8;
  }

  &:active {
    background: $color-white;
    border: 0.0625rem solid $color-grey-15;
    opacity: 0.64;
  }

  &:visited {
    background: $color-white;
    border: 0.0625rem solid $color-grey-15;
    opacity: 1;
  }
}
.reverseText {
  @include reverseText;
}

// Text highlight color
::selection {
  background: rgba(127,23,52,0.16);
}
::-moz-selection {
  background: rgba(127,23,52,0.16);
}

// Background
.fill--primary {
  background: $color-brown;
}
.fill--dark {
  background: $color-grey-90;
}
.fill--surface {
  background: $color-white;
}
.fill--surfaceElevated {
  box-shadow: 0 0 3rem 0 rgba(0,0,0,0.10);
}
.fill--appIcon {
  color: $color-blue-90;
  box-shadow: 0 0 3rem 0 rgba(0,0,0,0.24);
}
.surfaceRadius {
  border-radius: 0.25rem;
}
.surfaceRadius__append {
  // Only for the form sign up button
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

// Hamburger animation
.navbar-toggler .icon-bar {
  background-color: $color-brown;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  border-radius: 0.0625rem;
}
.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 0.375rem;
}
.icon-bar:nth-child(2) {
  width: 1rem;
  transform: translateX(0.5rem);
  transition: ease all .2s;
}
.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 1.5rem;
  transform: translateX(0);
  transition: ease all .2s;
}
.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 1.5rem;
  transition: ease all .2s;
}
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: translateY(0.5rem);
  transition: ease all .2s;
}
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: translateY(-0.5rem);
  transition: ease all .2s;
}

// Intro animation
@media (min-width: 992px) {

  .introAnimation__1 {
    animation: appear 500ms normal ease-out;
  }

  .introAnimation__2 > h1 {
    animation: slideRight 400ms normal cubic-bezier(0, 1.4, 1, 1);
  }

  .introAnimation__2 > p {
    animation: slideRight 600ms normal cubic-bezier(0, 1.4, 1, 1);
  }

  .introAnimation__2 > a > .btn {
    animation: slideRight 800ms normal cubic-bezier(0, 1.4, 1, 1);
  }

  .introAnimation__2 > .navbar {
    animation: slideRight 800ms normal cubic-bezier(0, 1.4, 1, 1);
  }

  .introAnimation__3 {
    animation: slideUp 600ms normal cubic-bezier(0, 1.4, 1, 1);

      .dialogueCard .media:nth-child(1) {
        animation: slideUp__message 700ms normal cubic-bezier(0, 1.4, 1, 1);
      }

      .dialogueCard .media:nth-child(2) {
        animation: slideUp__message 740ms normal cubic-bezier(0, 1.4, 1, 1);
      }

      .dialogueCard .media:nth-child(3) {
        animation: slideUp__message 780ms normal cubic-bezier(0, 1.4, 1, 1);
      }

      .dialogueCard .media:nth-child(4) {
        animation: slideUp__message 820ms normal cubic-bezier(0, 1.4, 1, 1);
      }
  }

  .introAnimation__4 {

    .navbar-nav .nav-item:nth-child(1) {
      animation: scaleIn 400ms normal ease-out;
    }

    .navbar-nav .nav-item:nth-child(2) {
      animation: scaleIn 600ms normal ease-out;
    }

    .navbar-nav .nav-item:nth-child(3) {
      animation: scaleIn 800ms normal ease-out;
    }

    .navbar-nav .nav-item:nth-child(4) {
      animation: scaleIn 1000ms normal ease-out;
    }

    .navbar-nav .nav-item:nth-child(5) {
      animation: scaleIn 1400ms normal ease-out;
    }

    .navbar-nav .nav-item:nth-child(6) {
      animation: scaleIn 1200ms normal ease-out;
    }
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }

  25% {
    opacity: 0;
    transform: translateX(-4rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  25% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp__message {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  25% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  75% {
    opacity: 0;
    transform: scale(1);
  }

  80% {
    opacity: 1;
    transform: scale(1.25);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
